/*Navigation*/
    .nav{
        list-style:none;
        text-align:center;
        overflow: hidden;
        z-index: 999;
        position: fixed;
        background-color: rgba(255,255,255,0.75);
        width: 100%;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);

    }

    .nav li{
        display:inline-block;
        font-family: baskerville;
        z-index: 999;
        padding: 10px;
        font-size: 20px;

    }
    .nav a{
        display:inline-block;
        padding:50px;
        color: rgba(0,0,0,0.8);
        border-radius: 5px;
        transition: 0.2s ease-in-out;

    }

    .nav li a:hover {
        color: white;
        background-color: rgba(0,0,0,0.8);
    }

/*Home styling*/
    #home-section {
    }

    #home-section h1 {
        font-size: 50px;
    }

    img {
        height: 100%;
        width: 100%;
    }

/*About styling*/
    #about-section {
    }

    #about-section h1 {
        font-size: 50px;
    }

    .sauce-style {
        font-family: baskerville;
        font-size: 18px;
    }

/*Menu styling*/
    #menu-section {
    }

    h1, h2, h3 {
        font-family: baskerville;
    }

    p, h4 {
        font-family: gotham-light;
        opacity: 0.7;
    }

    h2 {
        color: rgba(0,0,0,0.7);
    }

    h3 {
        letter-spacing: 10px;
        text-transform: lowercase;
        color: indianred;
        font-size: 20px;
    }

    h4 {
        opacity: 0.4;
        font-family:;
    }

    #starters, #share, #surrender {
        margin-top: -15px;
    }

/*Contact styling*/
    #contact-section {
        color: white;
    }
    .contact-form {
        color: white;
    }

    input {
        background-color: inherit;
        border: 0;
        border-bottom: 2px solid rgba(255,255,255,0.7);
        outline: 0;
        width: 50%;
        font-family: baskerville;
        font-size: 30px;
    }
    
    textarea {
        width: 100%;
        background-color: inherit;
        border-style: none;
        font-family: baskerville;
        font-size: 30px;
    }
    
    .btn {
        padding: 10px;
        font-size: 30px;
        background-color: inherit;
        border-color: white;
        transition: 0.2s;
        font-family: baskerville;
    }
    
    .btn:hover {
        background-color: white;
        color: black;
    }

/*Misc*/
    #home-section, #about-section, #menu-section, #contact-section {
        padding: 20px;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
    }